* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Magra", sans-serif;
  background-image: url(/images/universebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #edc771;
  text-transform: uppercase;
  overflow-x: hidden;
  min-height: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  flex: 1;
}

header {
  grid-row: 1 / 1;
  grid-column: 1 / 4;
  background: linear-gradient(#0f1224 20%, #1b203d 80%);
  text-align: center;
  letter-spacing: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.title {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(/images/universebg.png);
  color: transparent;
  font-size: 250%;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

nav {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

.navlink {
  color: #edc771;
}

.icons {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  color: #edc771;
}

.searchcontainer {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.searchbar {
  margin: 2%;
  background-color: #edc771;
  width: 200px;
  height: 33px;
  border-radius: 10px;
  border: none;
}

/*GAMES PAGE */

.main-content {
  padding: 5%;
}

.product-container {
  background-color: white;
  box-shadow: 0 0 30px #0f1224;
  color: #1b203d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-container img {
  box-shadow: 0 0 10px #0f1224;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.product-container h3 {
  margin-bottom: 10px; 
}

.button {
  background-color: #0f1224;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color:#edc771;
}

.button:hover {
  background-color: #0056b3;
}

/* PRODUCT */

.game-details-container {
    background-color: white;
    color: #1B203D;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin: 15%;
    padding-top: 5%;
}

.game-details-container img {
    max-width: 50%;
    max-height: 10%;
    border-radius: 15px;
    box-shadow: #1B203D;
  }